<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watching Work</title>
    <link rel="stylesheet" href="/dist/css/money.app.css">
</head>

<body id="app">
    <div class="moneyImg">
      <img src="/dist/image/money.png" alt="">
    </div>
    <div class="info">
      长按图中图片。选择扫描二维码进行友情赞助  (●'◡'●)  
    </div>
    <script type="text/javascript" src="/dist/js/money.app.js"></script>
</body>

</html>
