<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Watching Work</title>
    <link rel="stylesheet" href="/dist/css/taskMore.app.css">
</head>

<body id="app" v-cloak>
  {% raw %}
  <div id="taskContent">
    <div class="taskName">{{taskInfo.taskTitle}}</div>
    <div class="taskDes">{{taskInfo.taskDes}}</div>
    <div class="taskTime">2016-09-08 ~ 2016-09-08</div>
  </div>
  <div id="commitNum">CommitNum：{{CommitNum}}</div>
  <div id="commitContent">
    <section class="commitList" v-for="commitList in taskCommitInfo">
      <i class="iconfont icon-renwu l"></i>
      <div class="commitMsg l">{{commitList.taskContent}}</div>
      <div class="commitTime l">2016-09-08</div>
      <div class="cl"></div>
    </section>
  </div>
  <div class="addCommit"></div>
  {% endraw %}
    <script type="text/javascript" src="/dist/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/dist/lib/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/dist/lib/hounter.js"></script>
    <script type="text/javascript" src="/dist/js/taskMore.app.js"></script>
</body>

</html>
